@import url('../../index.css');

.hero {
  margin: 1.6rem 0px;
  font-size: 12px;
  color: #333
}

.hero-thumb {
  min-height: 200px;
  min-width: 200px;
  background: #ccc;
  border-bottom: 3px solid rgb(255, 0, 0);
}

.heroes-header {
  color: #aaa;
  margin-top: 60px;
}

.ordenate {
  color: #f00;
}